app/code/local/Born/BornIntegration/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="orderItemSkuQty">
                <all>
                    <element name="parent_sku" type="xsd:string" minOccurs="0"/>
                    <element  name="parent_qty" type="xsd:double" minOccurs="0" />
                    <element name="order_item_sku" type="xsd:string" />
                    <element name="qty" type="xsd:double" />
                </all>
            </complexType>
            <complexType name="orderItemSkuQtyArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:orderItemSkuQty[]" />
                    </restriction>
                </complexContent>
            </complexType>
        </schema>
    </types>
    <message name="salesOrderShipmentSageCreateRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="orderIncrementId" type="xsd:string" />
        <part name="itemsQty" type="typens:orderItemSkuQtyArray" />
        <part name="comment" type="xsd:string" />
        <part name="email" type="xsd:int" />
        <part name="includeComment" type="xsd:int" />
    </message>
    <message name="salesOrderShipmentSageCreateResponse">
        <part name="result" type="xsd:string" />
    </message>
    <message name="salesOrderInvoiceSageCreateRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="invoiceIncrementId" type="xsd:string" />
        <part name="itemsQty" type="typens:orderItemSkuQtyArray" />
        <part name="comment" type="xsd:string" />
        <part name="email" type="xsd:int" />
        <part name="includeComment" type="xsd:int" />
    </message>
    <message name="salesOrderInvoiceSageCreateResponse">
        <part name="result" type="xsd:string" />
    </message>
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="salesOrderShipmentSageCreate">
            <documentation>Create new shipment for order received data from Sage</documentation>
            <input message="typens:salesOrderShipmentSageCreateRequest" />
            <output message="typens:salesOrderShipmentSageCreateResponse" />
        </operation>
        <operation name="salesOrderInvoiceSageCreate">
            <documentation>Create new shipment for order received data from Sage</documentation>
            <input message="typens:salesOrderInvoiceSageCreateRequest" />
            <output message="typens:salesOrderInvoiceSageCreateResponse" />
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="salesOrderShipmentSageCreate">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="salesOrderInvoiceSageCreate">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
</definitions>